services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    env_file: '.env'
    ports:
      - "8000:8000"
    depends_on:
      - llm

  llm:
    provider:
      type: model
      options:
        model: ${LLM_MODEL:-ai/smollm2:latest}
