@import "tailwindcss";

@theme {
  --color-primary-50: #fcf1ed; /* Peach background */
  --color-primary-100: #f3e6e2;
  --color-primary-200: #e8d8d3;
  --color-primary-300: #d1c0bb;
  --color-primary-400: #9f8f9c;
  --color-primary-500: #6d5a85;
  --color-primary-600: #5b4b8a; /* Muted violet */
  --color-primary-700: #3e2a70;
  --color-primary-800: #2b1c50; /* Deep violet text */
  --color-primary-900: #1a1130;
}
